{"openapi":"3.0.0","info":{"version":"1.0.0","title":"ScytedTV API"},"servers":[{"url":"https://api.scyted.tv/v2"}],"tags":[],"paths":{"/new-endpoint":{"get":{"summary":"New Endpoint","description":"This is your first endpoint! Edit this page to start documenting your API.","operationId":"get_new-endpoint","responses":{"200":{"description":"Successful response"}}}},"/loydshelper/games/tic-tac-toe/wins/{userId}":{"get":{"description":"","operationId":"get_new-endpoint-1","responses":{"200":{"description":"","content":{}}},"parameters":[{"name":"userId","in":"path","required":true,"description":"Discord User ID","schema":{"type":"string","default":""}}],"security":[{"BearerAuth":[]}],"x-readme":{"samples-languages":["shell"]}},"post":{"description":"","operationId":"get_loydshelpergamestic-tac-toewins1{userId}","responses":{"200":{"description":""}},"parameters":[{"in":"path","name":"userId","schema":{"type":"string"},"required":true}],"security":[{"BearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"properties":{"wins":{"type":"integer","default":"0","description":"Amount of wins","x-readme-id":"0.0"},"losses":{"type":"integer","default":"0","description":"Amount of losses","x-readme-id":"0.1"}},"type":"object","required":["wins","losses","test"]}}}}}},"/radio/current":{"get":{"description":"","operationId":"get_radiocurrent","responses":{"200":{"description":""}},"parameters":[],"security":[{"BearerAuth":[]}]}},"/shows/cleverRemarks":{"get":{"description":"","operationId":"get_showscleverRemarks","responses":{"200":{"description":"OK","content":{"application/json":{"examples":{"newExample":{"value":{"showID":"exampleShow","metadata":{"name":"Example Show","description":"This is an example show description.","language":"english","country":"canada","countryCode":"CA","website":"https://www.scyted.tv/show/<slug>","companies":{"distribution":"Example Distributor Studio","production":"Example Production Studio"}},"credits":{"creator":["Name"],"directing":{"director":["Name"]},"production":{"executiveProducer":["Name"],"producer":["Name","Name","Name"]},"sound":{"musicProducer":["Name"]},"writing":{"writer":["Name","Name","Name"]}},"images":{"background":"<URL>","feature":"<URL>","square":"<URL>","thumbnail":"<URL>","vertical":"<URL>"},"videos":{"trailer":"<YOUTUBE URL>"},"social":{"bluesky":"<URL>","discord":"<URL>","facebook":"<URL>","instagram":"<URL>","twitter":"<URL>","x":"<URL>","youtube":"<URL>"},"databases":{"imdb":"<IMDb ID>","tmdb":"<TMDb ID>"}}}}}}}},"parameters":[],"security":[{"BearerAuth":[]}]}},"/simplynetwork/data/online":{"get":{"description":"","operationId":"get_simplynetworkdataonline","responses":{"200":{"description":""}},"parameters":[],"security":[{"BearerAuth":[]}]}},"/seaside/data/online":{"get":{"description":"","operationId":"get_seasidedataonline","responses":{"200":{"description":""}},"parameters":[],"security":[{"BearerAuth":[]}]}},"/simplynetwork/scoreboards/parkour_checkpoints/{username}":{"get":{"description":"","operationId":"get_simplynetworkscoreboardsparkour_checkpoints","responses":{"200":{"description":""}},"parameters":[{"in":"path","name":"username","schema":{"type":"string"},"required":true}],"security":[{"BearerAuth":[]}]}},"/simplynetwork/scoreboards/inventorySlot/{username}":{"get":{"description":"","operationId":"get_scoreboardsinventorySlot","responses":{"200":{"description":""}},"parameters":[{"in":"path","name":"username","schema":{"type":"string"},"required":true}],"security":[{"BearerAuth":[]}]}},"/simplynetwork/scoreboards/level_xp_required/{username}":{"get":{"description":"","operationId":"get_simplynetworkscoreboardslevel_xp_required","responses":{"200":{"description":""}},"parameters":[{"in":"path","name":"username","schema":{"type":"string"},"required":true}],"security":[{"BearerAuth":[]}]}},"/simplynetwork/scoreboards/level_xp/{username}":{"get":{"description":"","operationId":"get_simplynetworkscoreboardslevel_xp","responses":{"200":{"description":""}},"parameters":[{"in":"path","name":"username","schema":{"type":"string"},"required":true}],"security":[{"BearerAuth":[]}]}},"/simplynetwork/scoreboards/level/{username}":{"get":{"description":"","operationId":"get_simplynetworkscoreboardslevel","responses":{"200":{"description":""}},"parameters":[{"in":"path","name":"username","schema":{"type":"string"},"required":true}],"security":[{"BearerAuth":[]}]}},"/simplynetwork/scoreboards/parkour_checkpoints_1/{username}":{"get":{"description":"","operationId":"get_simplynetworkscoreboardsparkour_checkpoints_1","responses":{"200":{"description":""}},"parameters":[{"in":"path","name":"username","schema":{"type":"string"},"required":true}],"security":[{"BearerAuth":[]}]}},"/simplynetwork/scoreboards/parkour_checkpoints_2/{username}":{"get":{"description":"","operationId":"get_simplynetworkscoreboardsparkour_checkpoints_2","responses":{"200":{"description":""}},"parameters":[{"in":"path","name":"username","schema":{"type":"string"},"required":true}],"security":[{"BearerAuth":[]}]}},"/simplynetwork/scoreboards/parkour_level_xp_required/{username}":{"get":{"description":"","operationId":"get_simplynetworkscoreboardsparkour_level_xp_required{username}","responses":{"200":{"description":""}},"parameters":[{"in":"path","name":"username","schema":{"type":"string"},"required":true}],"security":[{"BearerAuth":[]}]}},"/simplynetwork/scoreboards/parkour_level_xp/{username}":{"get":{"description":"","operationId":"get_simplynetworkscoreboardsparkour_level_xp{username}","responses":{"200":{"description":""}},"parameters":[{"in":"path","name":"username","schema":{"type":"string"},"required":true}],"security":[{"BearerAuth":[]}]}},"/simplynetwork/scoreboards/parkour_level/{username}":{"get":{"description":"","operationId":"get_simplynetworkscoreboardsparkour_level{username}","responses":{"200":{"description":""}},"parameters":[{"in":"path","name":"username","schema":{"type":"string"},"required":true}],"security":[{"BearerAuth":[]}]}},"/simplynetwork/scoreboards/party/{username}":{"get":{"description":"","operationId":"get_simplynetworkscoreboardsparty{username}","responses":{"200":{"description":""}},"parameters":[{"in":"path","name":"username","schema":{"type":"string"},"required":true}],"security":[{"BearerAuth":[]}]}},"/simplynetwork/scoreboards/partytotal":{"get":{"description":"","operationId":"get_simplynetworkscoreboardspartytotal","responses":{"200":{"description":""}},"parameters":[],"security":[{"BearerAuth":[]}]}},"/simplynetwork/scoreboards/total_players":{"get":{"description":"","operationId":"get_simplynetworkscoreboardstotalplayers","responses":{"200":{"description":""}},"parameters":[],"security":[{"BearerAuth":[]}]}},"/simplynetwork/scoreboards/gamemode/{username}":{"get":{"description":"","operationId":"get_simplynetworkscoreboardsgamemode{username}","responses":{"200":{"description":""}},"parameters":[{"in":"path","name":"username","schema":{"type":"string"},"required":true}],"security":[{"BearerAuth":[]}]}},"/simplynetwork/connect/discord/{username}":{"get":{"description":"","operationId":"get_simplynetworkconnectionsdiscord","responses":{"200":{"description":""}},"parameters":[{"in":"path","name":"username","schema":{"type":"string"},"required":true}],"security":[{"BearerAuth":[]}]}},"/simplynetwork/data/tags/{username}":{"get":{"description":"","operationId":"get_simplynetworkdatatags{username}","responses":{"200":{"description":""}},"parameters":[{"in":"path","name":"username","schema":{"type":"string"},"required":true}],"security":[{"BearerAuth":[]}]}},"/public/test":{"get":{"description":"","operationId":"get_publictest","responses":{"200":{"description":""}},"parameters":[],"security":[{"BearerAuth":[]}]}},"/token/{token}/public/test":{"get":{"description":"","operationId":"get_token{token}publictest","responses":{"200":{"description":""}},"parameters":[{"in":"path","name":"token","schema":{"type":"string"},"required":true}]}},"/loydshelper/bluesky/{username}/reposted":{"get":{"description":"","operationId":"get_loydshelperbluesky{username}reposted","responses":{"200":{"description":""}},"parameters":[{"in":"path","name":"username","schema":{"type":"string"},"required":true}],"security":[{"BearerAuth":[]}]}},"/loydshelper/bluesky/{username}/schedule":{"get":{"description":"","operationId":"get_loydshelperbluesky{username}schedule","responses":{"200":{"description":""}},"parameters":[{"in":"path","name":"username","schema":{"type":"string"},"required":true}],"security":[{"BearerAuth":[]}]}},"/loydshelper/bluesky/{username}/posted-to-discord":{"get":{"description":"","operationId":"get_loydshelperbluesky{username}posted-to-discord","responses":{"200":{"description":""}},"parameters":[{"in":"path","name":"username","schema":{"type":"string"},"required":true}],"security":[{"BearerAuth":[]}]}},"/seaside/connect/discord/{username}":{"get":{"description":"","operationId":"get_seasideconnectdiscord","responses":{"200":{"description":""}},"parameters":[{"in":"path","name":"username","schema":{"type":"string"},"required":true}],"security":[{"BearerAuth":[]}]}},"/seaside/scoreboards/events":{"get":{"description":"","operationId":"get_seasidescoreboardsevents","responses":{"200":{"description":""}},"parameters":[],"security":[{"BearerAuth":[]}]}},"/seaside/scoreboards/party/{username}":{"get":{"description":"","operationId":"get_seasidescoreboardsparty{username}","responses":{"200":{"description":""}},"parameters":[{"in":"path","name":"username","schema":{"type":"string"},"required":true}],"security":[{"BearerAuth":[]}]}},"/seaside/scoreboards/partytotal":{"get":{"description":"","operationId":"get_seasidescoreboardspartyTotal","responses":{"200":{"description":""}},"parameters":[],"security":[{"BearerAuth":[]}]}}},"components":{"securitySchemes":{"BearerAuth":{"type":"http","scheme":"bearer"}}}}